<div class="profile mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{profile.image}}" class="card-img" alt="avatar" style="width: 250px;margin-bottom: 25px;">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profile.name}}</h5>
        <p class="card-text">{{profile.email}}</p>
        {{#ifCond profile.id user.id}}
        <a href="/users/{{profile.id}}/edit" class="btn btn-outline-primary">edit</a>
        {{/ifCond}}
        {{#if isFollowed }}
        <form action="/following/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-danger ml-2">取消追蹤</button>
        </form>
        {{else}}
        <form action="/following/{{profile.id}}" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-primary ml-2">追蹤</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="card my-3 w-100">
    <div class="card-header">
      已追蹤 {{FollowingCount}} 個對象
    </div>
    <div class="card-body">
      <div class="row">
        {{#each profile.Followings}}
        <div class="list-group col-2">
          <a href="/users/{{this.id}}">
            <img src="{{this.image}}" class="card-img" alt="avatar" style="width: 100px;">
            <p class="card-text ml-4">{{this.name}}</p>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card my-3 w-100">
    <div class="card-header">
      被 {{FollowerCount}} 個對象追蹤
    </div>
    <div class="card-body">
      <div class="row">
        {{#each profile.Followers}}
        <div class="list-group col-2">
          <a href="/users/{{this.id}}">
            <img src="{{this.image}}" class="card-img" alt="avatar" style="width: 100px;">
            <p class="card-text ml-4">{{this.name}}</p>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card my-3 w-100">
    <div class="card-header">
      已收藏 {{FavoriteCount}} 個餐廳
    </div>
    <div class="card-body">
      <div class="row">
        {{#each profile.FavoritedRestaurants}}
        <div class="list-group col-4">
          <a href="/restaurants/{{this.id}}">
            <img src="{{this.image}}" class="card-img mb-2" alt="avatar" style="width: 100px;">
            <small class="card-text ml-2" style="font-size: 15px;">{{this.name}}</small>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card my-3 w-100">
    <div class="card-header">
      評論過 {{restaurantCount}} 個餐廳
    </div>
    <div class="card-body">
      <div class="row">
        {{#each filterRest }}
        <div class="list-group col-4">
          <a href="/restaurants/{{this.id}}">
            <img src="{{this.image}}" class="card-img mb-2" alt="avatar" style="width: 100px;">
            <small class="card-text ml-2">{{this.name}}</small>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card my-3 w-100">
    <div class="card-header">
      已留下 {{total}} 則評論
    </div>
    <div class="list-group">
      {{#each profile.Comments}}
      <a href="/restaurants/{{this.Restaurant.id}}" class="list-group-item list-group-item-action">
        <p>{{this.text}}</p>
        <small>{{this.Restaurant.name}} 餐廳　－{{moment this.createdAt}}</small>
      </a>
      {{/each}}
    </div>
  </div>
</div>